:root {
    /* color */
    --color-white: #ffffff;
    --color-red: #f00;
    --color-orange: #ed6d00;
    --color-yellow: #ffc300;
    --color-bordergrey: rgba(255, 255, 255, 0.15);
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-beige: #fcae8f;
    /* size */
    --font-biglogo: 40px;
    --font-headermenu: 20px;
    --font-hometext: 35px;
    --font-basetext: 13px;
    --font-txt: 60px;
  
    /* transition__druation */
    --base-duration: 300ms;
  
    --x: 1;
  }
  
  /* home section*/
  #home {
    height: 100px;
  }
  
  /* intro section */
  
  #intro {
    background-color: var(--color-black);
    z-index: 50;
  }
  .intro__container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  .intro__new__wrap {
    width: 100%;
    display: flex;
    text-align: center;
  }
  .intro__new__wrap #select__img {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .intro__new__wrap #select__video {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
   /* 사진 항목의 요소들 크기 조정(a태그 필요없음)*/
   .intro__new__wrap .imgs {
    width: 33%;
    height: 360px;
    margin: 20px 0;
  }
  /* 동영상 항목의 요소들 크기 조정(a태그 필요)*/
  .intro__new__wrap a {
    width: 33%;
    height: 360px;
    margin: 20px 0;
  }
  .intro__new__wrap img {
    width: 90%;
    height: 100%;
    overflow: hidden
  }
  .intro__new__wrap video {
    width: 90%;
    height: 100%;
  }
  
  input[id*="popup"] {
    display: none;
  }
  /*input[id*="popup"] + label{
    display: inline-block;
    padding: 20px;
    background: #ffcd41;
    color:#fff;
  }*/ 
  
  /* 안쪽 + 바깥쪽 */
  input[id*="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition:all 1s;
  }
  /* 안쪽 */
  input[id*="popup"] + label + div > div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 62%;
    background: var(--color-white);
    z-index: 2;
  }
  /* 왼쪽 사진 */
  input[id*="popup"] + label + div > div > img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
  }
  /* 오른쪽(닉네임, 설명, 좋아요) */
  input[id*="popup"] + label + div > div > div {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
  }
  /*닉네임(js에서 처리)*/
  input[id*="popup"] + label + div > div > div > #nickname {
    text-align: left;
    font-size: 25px;
    margin: 15px 10px;
  }
  
  /* 소개 */
  input[id*="popup"] + label + div > div > div > #introduce {
    text-align: left;
    font-size: var(--font-headermenu);
    margin: 20px 10px;
  }
  /* 두번째 hr 위치 고정(내용마다 위아래 위치가 달라지므로 고정)*/
  input[id*="popup"] + label + div > div > div > .second__line {
    position: absolute;
    top: 450px;
    width: 100%;
  }
  /* 좋아요 */
  input[id*="popup"] + label + div > div > div > .like {
    position: absolute;
    top: 450px; /* 좋아요 글자 위치 조정 */
    color: var(--color-black);
    text-align: left;
    font-size: var(--font-hometext);
    margin: 20px 20px;
    margin-bottom: 45%;
  }
  .like .far {
    display: inline;
  }
  .like .fas {
    display: none;
    color: var(--color-red);
  }
  /* 빈 하트 */
  .like.selected .far {
    display: none;
  }
  /* 꽉찬 하트 */
  .like.selected .fas {
    display: inline;
  }
  /* 닫기 버튼 */
  input[id*="popup"] + label + div > div > label {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%,-40%);
    padding: 10px 15px;
    background: var(--color-red);
    color: var(--color-white);
    font-size: var(--font-headermenu);
    border-radius: 50%;
    z-index: 1;
  }
  /* 바깥쪽 */
  input[id*="popup"] + label + div > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
  }
  input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
  }
  #photo_declaration { 
    position: absolute;
    top: 550px;
    width: 95%;
  }
  /* 사진 창 신고버튼 */
  #photo_declaration button { 
    float: right;
    font-size: var(--font-headermenu);
  }
  /* 영상 신고 버튼 */
  #video_declaration button{
    float: right;
    font-size: var(--font-headermenu);
  }

  /* banner */
  
  #banner__wrap {
    background-color: var(--color-white);
    margin: auto;
  }
  
  .banner__container {
    max-width: 1200px;
    height: 150px;
    margin: auto;
    font-size: var(--font-biglogo);
    text-align: center;
    line-height: 160px;
  }
  