<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src ="/js/home/login_logout.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Server Side avaScript</h1>
    <p><a href="/board">업로드 완료</a></p>
</body>
</html>